/* 중앙 정렬 및 레이아웃 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f3f4f6;
    padding: 1.5rem;
}

/* 카드 스타일 */
.card {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 600px;
    margin-top: 1.5rem;
}

.correct {
    background-color: #79ffb1;
}

.incorrect {
    background-color: #ff978c;
}

/* disabled button */
button:disabled {
    cursor: not-allowed;
    color: #999999;
}

.particle {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: yellow;
    border-radius: 50%;
    opacity: 0;
    animation: explode 1.2s ease-out forwards;
}

@keyframes explode {
    0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(var(--x), var(--y)) scale(0.5);
    }
}

.incorrect-animation {
    animation: incorrect-animation 0.3s;
}

@keyframes incorrect-animation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}

.font-sans-serif {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-serif {
    font-family: 'Noto Serif JP', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
